<%= form_for [@context, @project], role: 'form' do |f| %>
  <%= render 'application/form_errors', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <%= f.label :today, "#{f.check_box :today} For today?".html_safe %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
