<%= form_for shallow_args(@project.context, @project), role: 'form' do |f| %>
  <%= render 'application/form_errors', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', autocomplete: :off, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 6, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :context_id %>
    <%= f.collection_select :context_id, current_user.contexts, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <%= f.label :today, "#{f.check_box :today} For today?".html_safe %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to 'Cancel', context_path(@project.context), class: 'btn btn-link' %>
<% end %>
