<%= div_for project do %>
  <h2>
    <%= link_to project.name, project_path(project) %>
  </h2>

  <p class="description">
  <%= auto_link(project.description, html: { target: '_blank' }) %>
  </p>

  <%= link_to 'Edit Project', edit_project_path(project) %>

  <%= form_for [project, Task.new], remote: true do |f| %>
    <%= f.text_field :name %>

  <%= f.submit %>
  <% end %>

  <div class="uncompleted" data-sortable="true" data-update-url="<%= reorder_project_tasks_path project %>">
    <%= render project.uncompleted_tasks %>
  </div>

  <% if project.completed_tasks.any? %>
    <h3>Completed</h3>
  <% end %>

  <div class="completed">
    <%= render project.completed_tasks %>
  </div>
<% end %>
