<% content_for :context_header do %>
  <li>
  <%= link_to 'Edit', edit_context_path(@context) %> |
  </li>
  <li>
  <%= link_to 'Delete', context_path(@context), method: :delete, data: { confirm: 'Are you sure?' } %> |
  </li>
  <li>
  <%= link_to 'New Project', new_context_project_path(@context) %> |
  </li>
<% end %>

<%= div_for @context do %>
  <h3>Today</h3>
  <div class="today" data-sortable="true" data-update-url="<%= reorder_context_projects_path(@context) %>">
    <% if @context.projects.for_today.any? %>
      <%= render @context.projects.for_today %>
    <% else %>
      <p class="well text-center">
        You don't have any tasks for today. Add some!
      </p>
    <% end %>
  </div>


  <% if @context.projects.not_for_today.any? %>
    <h3>Later</h3>

    <div data-sortable="true" data-update-url="<%= reorder_context_projects_path(@context) %>">
      <%= render @context.projects.not_for_today %>
    </div>
  <% end %>
<% end %>
