<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <% @contexts.each do |context| %>
    <%= content_tag_for :li, context do %>
      <%= link_to context.name, context %>
    <% end %>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
