<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header_content' %>
</head>
<body>

<div class="container">
  <div class="header">
    <ul class="pull-right menu">
      <%= yield :context_header %>
      <%= link_to 'Sign out', signout_path, method: :delete %>
    </ul>

    <ul class="menu list-unstyled">
      <li>Contexts:</li>
      <% @contexts.each do |context| %>
        <%= content_tag_for :li, context do %>
          <%= link_to context.name, context %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= yield %>
</div>
</body>
</html>
