<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header_content' %>
  <link rel="icon" type="image/png" href="">
</head>
<body>

<div class="container">
  <div class="header">
    <ul class="pull-right menu">
      <%= yield :context_header %>
      <%= link_to 'Sign out', signout_path, method: :delete %>
    </ul>

    <ul class="menu list-unstyled">
      <li>Contexts:</li>
      <% @contexts.each_with_index do |context, n| %>
        <%= content_tag_for :li, context do %>
          <%= link_to context_link_name(context), context %>
          <%= '|' if n + 1 < @contexts.size %>
        <% end %>
      <% end %>
      <li class="hide">
        | <%= link_to '+ Add context', new_context_path %>
      </li>
    </ul>
  </div>

  <%= yield %>
</div>
</body>
</html>
